/* All */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*::selection {
  background: #404040;
}

body {
  font-family: monospace, sans-serif;
  transition: background .3s ease;
}

.theme-dark {
  background: #202020;
  color: #fff;
}

.theme-light {
  background: #fff;
  color: #000;
}

/* Header Page */

.header-page h1 {
  margin-top: 2rem;
  font-size: 3rem;
  text-align: center;
}

.header-page p {
  text-align: center;
}

.inputs {
  margin-top: 1rem;
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.inputs input {
  padding: 5px 15px;
  font-family: monospace, sans-serif;
  border: 2px solid #808080;
  border-radius: 5px;
}

.inputs input:focus {
  outline: none;
}

.btn {
  gap: 1rem;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.button {
  color: #fff;
  background: #505050;
  padding: .80rem;
  border: 2px solid #505050;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: .4s ease-in;
  box-shadow: 0px 0px 10px #505050;
}

.btn-dark {
  background: #fff;
  color: #000;
  padding: .80rem;
  border: 2px solid #fff;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: .4s ease-in;
  box-shadow: 0px 0px 10px #fff;
}

.btn-dark:hover {
  box-shadow: 0px 0px 10px #fff;
  background: #505050;
  border: 2px solid #fff;
  color: #fff;
}

.button:hover {
  box-shadow: 0px 0px 10px #000;
  background: #5050503d;
  border: 2px solid #000;
  color: #000;
}

#password, #error {
  text-align: center;
  margin-top: 1rem;
  color: #008000;
}

#error {
  color: #ff0000;
}

.alert-cont {
  display: flex;
  justify-content: center;
}

.alert {
  margin-top: 2rem;
  padding: 1rem;
  background-color: #808080;
  width: 40rem;
  color: #fff;
  border-radius: 20px;
}

/* Down Page */

.down {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-top: .50rem;
}

.down img {
  width: 2rem;
}

#toggle-theme {
  padding: .50rem;
  border-radius: 10px;
  cursor: pointer;
  border: 2px solid #808080;
  transition: .4s ease-in;
}

#toggle-theme:hover {
  background: #000;
  color: #fff;
  border: 2px solid #000;
}

/* Adaptacion a movil */

@media (max-width: 420px) {
  /* Header Page */
  .header-page h1 {
    font-size: 2rem;
  }
  .inputs input {
    width: 9rem;
  }
}